<!DOCTYPE html>
<html ng-app="myAppp">

<script src="http://code.angularjs.org/1.2.9/angular.min.js"></script>
<link rel="stylesheet" type="text/css" href="style.css"/>

<head>
	<title>Hierarchy examples</title>
</head>

<body>

<script src="scope_hierarchy.js"></script>

	<div id="header">
		<a href="index.html">MINYON.JS</a>
	</div>
		<hr>
	<div>
		<nav>
			<a href="practice.html">back</a>
		</nav>
	</div>
		<hr>
		<br>
	<div ng-controller="LevelA">
		<h3>{{title}}</h3>
		ValueA = {{valueA}} 
		<input type="button" ng-click="inc()" value="+" />
		
		<div ng-controller="LevelB">
			<hr>
			<h3>{{title}}</h3>
			ValueA = {{valueA}}
			<br>
			ValueB = {{valueB}}
			<input type="button" ng-click="inc()" value="+" />
			
			<div ng-controller="LevelC">
				<hr>
				<h3>{{title}}</h3>
				ValueA = {{valueA}}
				<br>
				ValueB = {{valueB}}
				<br>
				ValueC = {{valueC}}
				<input type="button" ng-click="inc()" value="+" />
			</div>
		</div>
	</div>
	
</body>

</html>