<!DOCTYPE html>
<html ng-app="myEvent">

<script src="http://code.angularjs.org/1.2.9/angular.min.js"></script>
<link rel="stylesheet" type="text/css" href="style.css"/>

<head>
	<title>Scope Event examples</title>
	
	<style>
		span{padding:3px;border:5px ridge;cursor:pointer;}
		label{text-align:left;}
	</style>
</head>

<body>

	<script src="scope_event.js"></script>

	<div style= "font-size: 5em;" id="header">
		<a href="index.html">MINYON</a>
	</div>
		<hr>
	<div ng-controller="Characters">
			<span ng-repeat="name in names" 
			ng-click="changeName()">
			{{name}}
			</span>
		<div ng-controller="Character" style="text-align:left; padding-left:50px;">
				<hr>
			<label>Name: </label>
				<p>{{currentName}}</p>
				<br>
			<label>Race: </label>
				<p>{{currentInfo.race}}</p>
				<br>
			<label>Weapon: </label>
				<p>{{currentInfo.weapon}}</p>
				<br>
				<br>
			<span ng-click="deleteChar()">
				Delete
			</span>
		</div>
	</div>
</body>
</html>